MYSQL_HOST = mysql_db
MYSQL_USER = raptdb_user
MYSQL_PASSWORD = OwrMkvfaDdW6D72oqNSH+Q
MYSQL_DATABASE = raptdb
MYSQL_ROOT_PASSWORD = nH25fwMdYgk6D72oqNSH+Q
MYSQL_PORT = 3306
SERVICE_PORT = 6001
SERVICE_NAME = raptservice