MYSQL_DRIVER=mysql+pymysql
MYSQL_HOST=xxxxxxxxxxxxxxxxxxxxxxxxxxx
MYSQL_PORT=xxxxxxxxxxxx
MYSQL_USER=xxxxxxxxx
MYSQL_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxx
MYSQL_DATABASE=raptdb
SERVICE_PORT=6001
SERVICE_NAME=rapt-service-clustersvc
